{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - À propos{% endblock %}

{% block body %}
{{ render(controller('EtudiantAgendaBundle:Default:menu', { 'active': 'agenda_about' })) }}
<div class="container">
	<article>
		<div class="jumbotron">
			<h1>À propos</h1>
			<p>Cette application ainsi que de nombreux composants sont sous licence <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL 3.0</a>, les autres sont sous d'autres licences libres, ainsi vous pouvez nous aider à améliorer notre application …</p>
		</div>
	</article>
	<article>
		<h2>Participants</h2>
		<section>
			<div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h3>Anthony Rey</h3>
				<p>Développeur de l'API, des divers composants et des vues</p>
				<p><strong>Website : </strong><a href="http://gnkw.org" title="GNKW.org">http://gnkw.org</a></p>
			</div>
		</section>
		<section>
			<div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h3>Camille Colomb</h3>
				<p>Co-développeur du script utilisé dans le composant de récupération de l'emploi du temps</p>
			</div>
		</section>
		<div class="clearfix visible-sm"></div>
		<section>
			<div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h3>Sébastien Franchon</h3>
				<p>Co-éveloppeur du script utilisé dans le composant de récupération de l'emploi du temps</p>
			</div>
		</section>
		<div class="clearfix visible-md"></div>
		<section>
			<div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h3>Valentin Kim</h3>
				<p>Développeur de l'application mobile</p>
			</div>
		</section>
		<div class="clearfix visible-sm"></div>
	</article>
	<div class="clearfix visible-sm visible-md visible-lg"></div>
	<article>
		<h2>Applications et composants utilisés</h2>
		<div class="table-responsive">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>Application/Composant</th>
						<th>Dépôt</th>
						<th>Composer</th>
						<th>Licence</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Symfony</td>
						<td><a href="https://github.com/symfony/symfony.git" title="Symfony Framework">https://github.com/symfony/symfony.git</a></td>
						<td>symfony/symfony</td>
						<td>MIT</td>
					</tr>
					<tr>
						<td>Base GNKam</td>
						<td><a href="https://github.com/Gnuk/GNKam_Base.git" title="GNKam base">https://github.com/Gnuk/GNKam_Base.git</a></td>
						<td>gnkam/base</td>
						<td>AGPL-V3</td>
					</tr>
					<tr>
						<td>Emploi du temps GNKam</td>
						<td><a href="https://github.com/Gnuk/GNKam_UnivSavoieEdt.git" title="GNKam Univ Savoie Edt">https://github.com/Gnuk/GNKam_UnivSavoieEdt.git</a></td>
						<td>gnkam/univ-savoie-edt</td>
						<td>AGPL-V3</td>
					</tr>
					<tr>
						<td>Menu GNKam</td>
						<td><a href="https://github.com/Gnuk/GNKam_UnivSavoieMenu.git" title="GNKam Univ Savoie Menu">https://github.com/Gnuk/GNKam_UnivSavoieMenu.git</a></td>
						<td>gnkam/univ-savoie-menu</td>
						<td>AGPL-V3</td>
					</tr>
					<tr class="danger">
						<td>Autobus GNKam <span class="label label-primary">Bientôt</span></td>
						<td><a href="https://github.com/Gnuk/GNKam_Autobus.git" title="GNKam Univ Savoie Autobus">https://github.com/Gnuk/GNKam_Autobus.git</a></td>
						<td>gnkam/autobus</td>
						<td>AGPL-V3</td>
					</tr>
					<tr>
						<td>GNKW Symfony</td>
						<td><a href="https://github.com/Gnuk/GNKW_Symfony.git" title="GNKW Symfony">https://github.com/Gnuk/GNKW_Symfony.git</a></td>
						<td>gnkw/symfony</td>
						<td>AGPL-V3</td>
					</tr>
					<tr>
						<td>GNKW base</td>
						<td><a href="https://github.com/Gnuk/GNKW_Base.git" title="GNKW Base">https://github.com/Gnuk/GNKW_Base.git</a></td>
						<td>gnkw/base</td>
						<td>AGPL-V3</td>
					</tr>
				</tbody>
			</table>
		</div>
	</article>
</div>
{% endblock %}