<html>
	<head>
		<meta charset="utf-8" />
		<title>Mon agenda</title>
	</head>
	<body>
		<article>
			<p>Bienvenue sur votre agenda, vous pouvez consulter:</p>
			<ul>
				<li><a href="{{ path('agenda_edt') }}">Mon emploi du temps</a></li>
			</ul>
		</article>
	</body>
</html>
