<nav>
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('agenda_index') }}">
					<span class="sr-only">Agenda Étudiant</span>
					<span class="glyphicon glyphicon-home"></span>
				</a>
				{{ button }}
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{% for pathMenu, menu in menus %}
						<li{% if pathMenu == active %} class="active"{% endif %}><a href="{{ path(pathMenu) }}">{{ menu }}</a></li>
					{% endfor %}
				</ul>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</div><!-- /.navbar -->
</nav>